/* --- PÁGINA COMPLETA --- */
:root {
    /* -- FONDOS --*/
    --fondo-base: #0d0d1a;
    --superficie: #13132b;

    /* -- TEXTOS -- */
    --texto-principal: #f6f0ff;
    --texto-secundario: #9333EA;
    --texto-muted: #9c88b2;

    /* -- ACENTOS -- */
    --acento-principal: #b84af0;
    --acento-frio: #c87cf7;

    /* -- BORDES --*/
    --borde-brillante: rgba(184, 74, 240, 0.2);
    --borde-fuerte: rgba(184, 74, 240, 0.4);
}
.container {
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

body {
    background-color: var(--fondo-base);
    color: var(--texto-principal);
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
}


/* --- Navegador --- */
.main-nav {
    background-color: var(--superficie);
    border-bottom: 1px solid var(--borde-brillante);
    padding: 5px 0;

}

.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

.nav-link {
    text-decoration: none;
    color: var(--texto-secundario);
    transition: all 0.3s ease;
    font-weight: bold;
}

.nav-link:hover {
    color: var(--acento-frio);

    text-shadow: 0 0 10px var(--acento-frio);
}

/* --- MAIN ---- */

.main-title {
    margin-top: 100px;
}

.p-main {
    max-width: 600px;
    margin: auto;
    word-spacing: 1.6px;
}

.strong-main {
    color: var(--acento-principal);
}

.btn-projects {
    display: inline-block;
    margin-top: 30px;
    background-color: var(--acento-principal);
    color: var(--texto-principal);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.btn-projects:hover {
    background-color: var(--acento-frio);
    box-shadow: 0 0 15px var(--acento-frio);
}

/* --- Footer ---- */

.p-footer-main {
    background-color: var(--superficie);
    color: var(--texto-secundario);
    text-align: center;
    padding: 20px;
    border-top: 1px solid var(--borde-brillante);
    margin: 0;
}